/rawdata.csv
/rawdata.csv:Zone.Identifier
/vax_rsa.xlsx
/LTC-sars.csv
/dfMissingVal.csv
/facts.pl
/facts2.pl
/facts2lower.pl
/facts2lowerunderscore.pl
/facts2lowerunderscore2.pl
/interpretation.pl
/siero_v2.csv
/Vax_v2.xlsx
/factsto.pl
/factsto3.pl
/factstoFINAL.pl
/factstolower.pl
/factstolowerunderscore.pl
/factstolowerunderscore2.pl
/indfacts.pl
/pos.pl
/pos2.pl
/pos3.pl
/pos4.pl
/pos5.pl
/lower.pl
/regex.pl
/fem.pl
/integer.pl
/apex.pl
/fupp.pl
/loww.pl
/new1.pl
/newst.pl